<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-900 p-6">
    <div class="max-w-4xl mx-auto bg-white p-6 rounded shadow">
        <h1 class="text-2xl font-bold mb-4">Admin Panel</h1>

        <div class="mb-4">
            <a href="/home" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition text-sm">
              ← Back to Shop
            </a>
          </div>
          



        <div class="mb-6">
            <h2 class="text-xl font-semibold mb-2">All Users and their account balance</h2>
            <div class="h-48 overflow-y-scroll border rounded p-2 bg-gray-50">
                {% for user in users %}
                    <div class="p-1 border-b text-sm">{{ user[0] }}. {{ user[1] }} — 💰 {{ user[2] }}</div>
                {% endfor %}
            </div>
        </div>



        <div class="mt-6">
            <h2 class="text-xl font-semibold mb-2">Check if host is available</h2>
            <form method="POST" class="flex gap-2 items-center">
                <input type="text" name="target" placeholder="Enter IP or host to check" class="p-2 border rounded w-full text-sm">
                <button type="submit" name="ping" class="bg-blue-600 text-white px-4 py-2 rounded text-sm">Ping</button>
            </form>
        
            {% if output %}
            <div class="mt-5">
                <h3 class="font-semibold text-sm mb-3">Result:</h3>
                <pre class="bg-black text-green-400 p-2 rounded text-xs whitespace-pre-wrap max-h-600 overflow-y-scroll">{{ output }}</pre>
            </div>
            {% endif %}
        </div>

        
    </div>

</body>
</html>
